<h1>Create New User</h1>

<%= form_with url: "/users",  method: "post" do %>
  <div>
    <%= label_tag "user[email]", "Email" %>
    <%= text_field_tag "user[email]" %>
  </div>

  <div>
    <%= label_tag "user[username]", "Username" %>
    <%= text_field_tag "user[username]" %>
  </div>

  <div>
    <%= label_tag "user[password]", "Password" %>
    <%= password_field_tag "user[password]" %>
  </div>


  <%= submit_tag "Submit" %>
<% end %>


<%# Sometimes we have to use HTML comments syntax to comment out %>

<!--
<form action="/users" accept-charset="UTF-8" method="post" data-turbo="false">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div>
    <label for="email">Email</label>
    <input type="text" name="user[email]">
  </div>

  <div>
    <label for="username">Username</label>
    <input type="text" name="user[username]">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" name="user[password]">
  </div>

  <div>
    <input type="submit">
  </div>
</form>
-->